.homepage-container {
    height: calc(100vh - 88px);
    width: 100%;
    background-color: #C7C7C7;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../../assets/imgs/home.png);
    background-size: cover;
}