.container-label-schedule{
    margin-right: 5px;
    width: 175px;
    height: 26px;
    background: #FFF;
    padding-left: 20px;
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0 0;
}