@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Inter:wght@400;600;700&family=Poppins:wght@400;600;700&display=swap¨');

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-size: 100%;
    list-style-type: none;
    font-family: 'Inter', sans-serif;
}

:root {
    --black: #000;
    --white: #fff;
    --red: #dd2a2a;
    --gray-text: #71717a;
}
