.disabled-date-picker {
    display: none;
}

.sdp {
    --theme-color: var(--red) !important;
    --selected-date-color: #fff !important;
    --font: 'Poppins', sans-serif;
    color: var(--white);
    background-color: var(--red);
    position: absolute;
    z-index: 99999;
}

.sdp--square-btn {
    background-color: rgb(160, 17, 17);
}

.sdp--square-btn:hover {
    filter: brightness(1.25);
}

.sdp--text__inactive {
    background-color: rgb(158, 147, 147);
}

.sdp--dates-grid p {
    background-color: var(--red);
    color: #fff;
}

.sdp--square-btn {
    color: #fff;
}

.sdp--square-btn__outlined {
    border: none;
}
